#Header {
    color: black;
    background-color: whitesmoke;
    width: 200px;
    height: 100px;
    float: left;
}

#ButtonRelay {
    float: left;
    background-color: whitesmoke;
    width: 1025px;
    height: 100px;
    margin-left:  ;
}